<%= form_for  @post, url: posts_path(@post), :remote => true do |form| %>
  <div class="form-outline mb-4">
    <%=form.label :post , class:"form-label", for:"form6Example7"%>
    <%= form.text_area :description, class:"form-control", id:"form6Example7", rows:"4" %>
    <%= form.file_field :images, class: "images-post-field", multiple: true %>
    <%#= button_tag image_tag('image_attachment_logo.png'), class: 'attachment-logo'%>
  </div>
  <div style="display:none;" class="post-error">
  </div>
  <%= form.submit class: 'btn btn-primary btn-block mb-4 text-center', id: "post-submit"  %>
<% end %>