<% if @post.errors.any? %>
  post_error = '<%= @post.errors.full_messages.first %>'
  $('.post-error').html(post_error)
  $('.post-error').css("display", "block")
  $('.post-error').css("color", "red")
<%else%>
  $('#exampleModal').modal('hide')
  $('.posts').prepend(`<div class= "post"><b><%= escape_javascript(@post.author.full_name)%></b><br> <%= escape_javascript(@post.description)%><br> <%= escape_javascript(like_post(@post, "Post"))%><br><%=post_comments(@post)%></br><a href="javascript:void(0)" class="comment-link" >Comment</a><div>`)
<%end%>

// <%= link_to 'Comment', 'javascript:void(0)', id: "comment-link-#{@post.id}